<div data-toggle="tooltip" data-placement="bottom" title="{{club.name}}" class="card club-details-card border rounded-circle border-secondary">
    <div class="card-body text-center align-middle">
        <h1>{{club.name | firstLetter}}</h1>
    </div>
</div>