<table *ngIf="rows" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 50px">#</th>
            <th scope="col">Csapat</th>
            <th class="text-center" scope="col">Meccsek</th>
            <th class="text-center" scope="col">Győzelem</th>
            <th class="text-center" scope="col">Döntetlen</th>
            <th class="text-center" scope="col">Vereség</th>
            <th class="text-center" scope="col">Lőtt Gólok</th>
            <th class="text-center" scope="col">Kapott Gólok</th>
            <th class="text-center" scope="col">Gól Különbség</th>
            <th class="text-center" scope="col">Pontok</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows, let i=index">
            <th scope="row">
               {{i + 1}}.
            </th>
            <th scope="row" class="clubName">
                {{row.club.name}}
            </th>
            <td class="text-center">{{row.playedMatches}}</td>
            <td class="text-center">{{row.win}}</td>
            <td class="text-center">{{row.draw}}</td>
            <td class="text-center">{{row.lose}}</td>
            <td class="text-center">{{row.scoredGoals}}</td>
            <td class="text-center">{{row.concerdGoals}}</td>
            <td class="text-center">{{row.scoredGoals - row.concerdGoals}}</td>
            <th class="text-center" scope="row">{{row.point}}</th>
        </tr>
    </tbody>
</table>
<!--<strong>M</strong>: Mérközések száma <strong>Gy</strong>: Győzelem, <strong>D</strong>: Döntetlen, <strong>V</strong>: Vereség,-->
<!--<strong>LG</strong>: Lőtt gólok, <strong>KG</strong>: Kapott gólok, <strong>GK</strong>: Gól Különbség, <strong>P</strong>: Pontok-->