@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../../node_modules/bootswatch/dist/sandstone/bootstrap.min.css';

body {
  font-family: cursive;
}

.club-details-card {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

//.club-details-card:hover {
//  box-shadow: 1px 1px #888888;
//}